$textColor: #21243D;

@mixin btn ($bg, $tcolor) {
    display: block;
    background: $bg;
    border-radius: 2px;
    padding: 9px 20px 11px;
    font-weight: 500;
    font-size: 20px;
    line-height:29px ;
    color: $tcolor;
    text-decoration: none;
    width: fit-content;      
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.custom-container {
    padding-left: 25px;
    padding-right: 25px;
    @media (min-width: 768px) {
        width: 992px;
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// header

nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 80px;
    left: 100%;
    transition: left .5s;
    font-weight: 800;
}

.menu_list {
    position: absolute;
    left: 46%;
}

label {
    height: 30px;
}

#toggle {
    display: none;
}

#toggle:checked ~ nav {
    display: block;
    left: 0;
}

.toggle_btn {
    display: block;
    background: #000;
    height: 2px;
    width: 30px;
    position: relative;
    left: 90%;
    top: 14px;
}

.toggle_btn::before {
    content: '';
    display: block;
    background: #000;
    height: 2px;
    width: 30px;
    position: absolute;
    top: -8px;
}

.toggle_btn::after {
    content: '';
    display: block;
    background: #000;
    height: 2px;
    width: 30px;
    position: absolute;
    top: 8px;
}

// hero 

.hero {
    height: 100vh; // view height
    text-align: center;

    $c-d-gap: 60px;
    .custom-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 34px;
        height: 100%;
        @media (min-width: 768px) {
            align-items: center;
            flex-direction: row-reverse;
            gap: $c-d-gap;
        }
    }

    &_img {
        @media (min-width: 768px) {
            width: calc(45% - $c-d-gap / 2);
        }

        &_wrap {
            width: 170px;
            height: 170px;
            margin: 0 auto;
            border-radius: 50%;
            
            img {
                display: block;
                width: 100%;
            }
        }
    }

    &_text  {
        @media (min-width: 768px) {
            width: calc(55% - $c-d-gap / 2);
            text-align-last: left;
        }        
    }

    .btn {
        @include btn(#FF6464, #fff);
    }
}

.feautered {

    .btn {
        @include btn(#d9d9d9, red);
    }
}

.featured {

    &-item {
      margin-bottom: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid #E0E0E0;
  
      &-text {
        display: flex;
        flex-wrap: wrap;
  
        h3 {
          width: 100%;
        }
  
        p {
          width: 100%;
        }
  
        .date {
          width: 62px;
          margin-right: 26px;
        }
  
        .category {
          width: calc(100% - 88px);
        }
      }
    }
  
    &-img {
      display: block;
      width: 100%;
    }
  }